
.Login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.Login-container .contenedor{
    display: flex;
    flex-direction: column;
}
.Login-container .subtext{
    text-align: center;
}
.Login-container .Logo {
    display: block;
    margin: 0 auto;
}
.Login-container .text{
    justify-content: center;
    text-align: center;
    display: flex;
}