
.menu-body .titulo{
    margin-left: 20%;
}
.menu-body .subtext{
    margin-left: 20%;
}
.menu-container .subtext{
    margin: 0;
}
.menu-container{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}
#opciones{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2%;
    padding: 2%;
}
#opciones .contenedor .opciontitle{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#opciones .contenedor .opciontitle .imagenGrande{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
}
#GestionInventario {
    background-color: rgba(0, 255, 255, 0.247);
}
#GestionEnfermo{
    background-color: rgba(11, 180, 87, 0.336);
}
#opciones .contenedor .opciontitle .imagenGrande img{
    margin: 10px;
    width: 30px;
}
#opciones .contenedor .btn{
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: white;
    border-width: 1px;
    color: black;
    font-size: small;
}
#opciones .contenedor .btn:hover{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(172, 172, 172, 0.589);
}
#opciones .contenedor .btn .imagenPeque img{
    width: 15px;
    margin-right:5px ;
}
#estadisticas .contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#estadisticas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}
#estadisticas .text{
    font-size: 2rem;
    font-weight: 500;
}
#estadisticas .subtext{
    font-size: small;
    
}