.atras-link{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
    gap: 1%;
    border-style: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    width: min(960px, calc(100% - 2rem));
}
.atras-link .image{
    width: 13px;
    height: 13px;
}

.atras-link .atras-text{
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #111827;
}
.atras-link{
    text-decoration: none;
}

