.botonPestana{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0.75rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.botonPestana .imagen {
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    margin-right:1rem ;
}

.botonPestana .btn {
    min-width: 170px;
}