.input {
    padding: 0.6rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: 0.3s;
    width: 95%;
    margin-left: 0%;
}

.input:focus {
    outline: none;
    border-color: #6b7280;
    box-shadow: 0 0 7px #6b7280;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group label {
    width: 600;
    text-align: left;
    font-size: 1rem;
    margin: 0%;
}