.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 0.2%;
    padding-top: 0.2%;
    height: 60px;
    background-color: white;
    color: black;
    border: 0.5px solid #d3d3d3;
    text-align: center;
}

.left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.left a{
    text-decoration: none;
    color: black;
    transition: opacity 0.3s;
}
.left a:hover {
    opacity: 0.8;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.logo-icon {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.right {
    display: flex;
    gap: 1.5rem;
}

.right a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: opacity 0.3s;
}

.right a:hover {
    opacity: 0.8;
}

.salir-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.salir-icono {
    width: 20px;
    height: 20px;
}
.eleccion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-left: 0.1rem;
    padding:10px;
    border-radius: 5px;
}
.eleccion img{
    width: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
}
.eleccion .text{
    font-weight: 600;
}
.eleccion:hover{
    font-weight: 800;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
    border-color: rgba(172, 172, 172, 0.589);
}
.eleccion.activo{
    background-color:  rgba(172, 172, 172, 0.301);
}
